@model Lab8.Models.Record

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="list-group">
    <h2>Are you sure you want to delete this record?</h2>

    <div style="padding: 10px 0"><label>Surname:&nbsp</label>@Model.Surname</div>
    <div style="padding: 10px 0"><label>Phone:&nbsp</label>@Model.Phone</div>

        @using (Html.BeginForm("Delete", "DictionaryMvc",  new{ id = Model.Id }, FormMethod.Post))
        {
            <div class="btn-group" style="padding-top: 15px">
                @Html.ActionLink("Back", "Index", "DictionaryMvc", new {@class = "btn btn-default"})
                <input type="submit" class="btn btn-danger" value="Delete"/>
            </div>
        }
</div>
