@model IReadOnlyCollection<Models.Models.Record>

@{
  Layout = "../Shared/_Layout.cshtml";
}

@* @helper help { } *@

@section header
{
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              @Html.ActionLink("Phone Dictionary", "Index", "Dictionary", new { area = "" }, new { @class = "navbar-brand" })
          </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li>@Html.ActionLink("Add", "Add", "Dictionary")</li>
              </ul>
          </div>
      </div>
  </div>
}
@section footer
{
  <div class="footer navbar-fixed-bottom">
     Footer
  </div>
}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Surname</th>
      <th scope="col">Phone</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @if (Model.Count > 0)
    {
      foreach (var record in Model)
      {
        @Html.Partial("RecordRow", record)
      }
    }
    else
    {
      <tr>
        <td class="text-center" colspan="3"><h3>There are no records in dictionary yet!</h3></td>
      </tr>
    }
  </tbody>
</table>